body {
  background-color: #f9f9f9;
}

header {
  font-size: 0;
  background-image: url(../images/logo.jpg);
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  text-align: center;
  font-size: 2.25em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 40px 0;
}

p {
  font-size: 1.5em;
}

/**
*картинки , которые на сайте вставлены
**/
.head_img {
  width: 400px;
  height: 200px;

  margin: 0px auto;
}

/**
*менюшка
**/
.menu {
    width: 100%;
    background-color: #b50f16;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    line-height: 17px;
    padding: 15px 0;

}

.menu a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.menu li {
    display: inline-block;
}

.menu li + li {
    margin-left: 30px;
}

.anchor {
  display: block;
  visibility: hidden;
}

p + p {
  margin-top: 20px;
}

.scrolled {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}